:host {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 5%;
  left: 0;
  margin: 0 auto;
  padding: 0;
  padding-top: 0px;
  width: 100%;
  padding-top: 5%;
  font-size: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.step {
  display: inline-block;
  margin: 1%;
  border: 1px solid #666;
  border-radius: 1000px;
  width: 2%;
  padding-top: 2%;
  background-color: #FFF;
  list-style: none;
}

.ko {
    background-color: #F44 !important;
}

.ok {
  background-color: #4F4 !important;
}
